

h1{
	text-align: center;
	  color: #101010;
  font-size: 35px;
  font-style: inherit;
  font-weight: bold;
	}

h2{
	color: #101010;
	font-size: 25px;
	}



body {
	background-position: center;
	background-color:#b1abb9;
	line-height: 1.5;

	}
