
body {
	line-height: 1;
	background-color: #bbb29b;

}

h1{
	color: #101010;
	font-size: 50px;
	font-style: italic; /* Estilo: normal u obliqua */
	font-weight: 300;
	background-color: #876464
}

h2{
	font-size: 30px
}

p{
	font-size: 15px
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
