
body {
	font-family: 'Prompt', sans-serif;
	line-height: 1;
  background-color: #d8ddff
}

.foto{
	width: 100px;
 margin: 0 auto;
}


h1{
	text-align: center;
	color: #101010;
	font-size: 50px;
	font-style: normal; /* Estilo: normal u obliqua */
	font-weight: 500;
	background-color: #876464

}

h2{
	font-size: 30px

}

p{
	font-size: 15px
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

#ccss{
	position: inherit;
}
